<html>
<head>
<link rel="stylesheet" href="static/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<h1>Server sent events</h1>
<script type="text/javascript">


$(document).ready(function() {

  var data = {};
  var evtSrc = new EventSource("/subscribe");

  evtSrc.onmessage = function(e) {
    data = JSON.parse(e.data);
    for (i = 0; i < data.length; i++) {
      var update = data[i];
      var field = document.getElementById(update.id);
      if (field != null) {
        var value_field = field.getElementsByClassName("value")[0];
        if (update.value != value_field.innerHTML) {
        value_field.innerHTML = update.value;
        value_field.classList.add("ping");
        value_field.addEventListener("transitionend",
            function(e){
              e.target.classList.remove("ping");
            }, true);
        }
      };
    };
  };
})

</script>
<table class="value_display">
  <tr>
    <th class="description"> Name </td>
    <th class="value"> Value </td>
  </tr>
  {% for k, v in value_ids.items() %}
    <tr id="{{k}}">
    <td class="description">{{v['id']}}</td>
    <td class="value">{{v['value']}}</td>
    </tr>
  {% endfor %}
</table>
</body>
</html>
